body{
    margin: 0;
    padding: 0;
    font-family: Arial;
}

*{
    box-sizing: border-box;
}
.main{
    background-color: $main-background-color;
}
a{
    color: $text-description-color;
    text-decoration: none;
    border-bottom: 1px dashed $text-description-color;
    &:hover{
        color: #93d8d1;
    }
}

.nav-btn{
    padding-bottom: 20px;
    border-bottom: 1px solid $border-content-color;
    .nav-btn-wrap{
        @include list-view;
    }
    .move-menu-btn{
        margin: 20px 20px;
        &:first-child{
            pointer-events: none;
            color: #bbbbbb;
            border-color: #e8e0e0;
            &:hover{
                color: $text-header-color;
                border-color: $btn-border;
            }
        }
    }
}
.clear-fix{
    clear: both;
}