$text-header-color: #4a3f3d;
$text-description-color: #757575;
$border-color: #eceff1;
$border-content-color: #E0E0E0;
$btn-border: #BDBDBD;
$hover-color: #93d8d1;
$white-bg-color: white;
$main-background-color: #f4f4f4;