.content-page{
    @include flex-view(column, center, flex-start);
    background-image: url(../../public/image/Screenshot_4.jpg);
    background-position: center;
    background-size: cover; 
    height: 100%;
    padding-left: 7%;
}
.content-headline{
    color: $text-headline-color;
    font-size: 44px;
}
.content-text{
    z-index: 10;
    color: $text-color;
    opacity: 0.8;
    font-size: 20px;
    line-height: 40px;
    
}
.hyper-Link{
    color: $text-color;
    text-decoration: none;
    border-bottom: 1px dashed $text-color;
    transition: all 0.2s ease;
    &:hover{
        opacity: 1;
        color: $text-headline-color;
        border-bottom: none;
        transition: all 0.2s ease;
    }
}
.content-button{
    margin-top: 30px; 
    display: inline-block;
    font-weight: bold;
    font-size: 12px;
    color: $text-headline-color;
    padding: 20px 50px;
    border: 1px solid #ffffff3b;
    border-radius: 30px;  
    letter-spacing: 2px; 
    transition: all 0.2s ease; 
    &:hover{
        border: 1px solid #ffffffb3;
        transition: all 0.2s ease;
        background-color: #ffffff1a;
        cursor: pointer;
    }
}
