*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    font-family:Arial;
}

main{
    @include flex-view(row, flex-start, stretch);
}

.head-content{
    margin-left: 300px; 
    width: 100%;
}

.gallery-content{
    @include flex-view(row, flex-start, center);
}

.advantage-information{
    @include flex-view(column, flex-start, flex-start);
}
.anchor{
    position: absolute;
    top: 0;
    left: 0;
}
