.feedback{
    position: relative;
    background-color: #5e42a6; 
    padding: 40px 50px;
    .content-headline{
        font-size: 30px;
    }
    .content-text{
        flex-wrap: wrap;
        font-size: 18px;
        line-height: 30px;
    }
    .feedback-main-part{
        display: flex;
        justify-content: flex-start;
    }
    .feedback-auth{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        width: 70%;
        padding: 40px 0px 20px 0px;
        & .input:last-child{
            width: 100%;
        }
        .input{
            width: 50%;  
        }
        .input-field-name{
            font-size: 20px;
            color: white;
            font-weight: bold;
        }
        .input-field{
            width: 80%;
            height: 44px;
            background: #664cab;
            border: 1px solid $hidden-text-color;
            border-radius: 5px;
            transition: all .3s ease;
            &:hover{
                border: 1px solid white;
                transition: all .3s ease;
            }
            &:focus{
                border: 2px solid white;
            }
        }
        .input-field-last{
            width: 90%;
            height: 150px;
            background: #664cab;
            border: 1px solid $hidden-text-color;
            border-radius: 5px;
            transition: all .3s ease;
            &:hover{
                border: 1px solid white;
                transition: all .3s ease;
            }
            &:focus{
                border: 2px solid white;
            }
        }
    }
    .feedback-contacts{
        padding-left: 40px;
        border-left: 1px solid $hidden-text-color;
    }
    .feedback-contacts-list{
        @include list-view();
        .content-headline{
            font-size: 20px;
        }
        .content-text{
            flex-wrap: wrap;
            font-size: 16px;
            line-height: 25px;
        }
    }
    .social-icons{
        color: $hidden-text-color;
        margin-bottom: 100px; 
        .fab{
            padding-right: 5px;
            transition: all .3s ease;  
            &:hover{
                opacity: 1;
                color: white;
                transition: all .3s ease;   
            }
        }
    }
}