.futter{
    background-color: #493382;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    .futter-menu{
        @include list-view();
        display: flex;
        padding-left: 50px;
        .futter-menu-item{
            border-right: 1px solid $futter-text-color;
            padding: 5px 10px 5px 10px;
            color: $futter-text-color;
            font-size: 15px;
            &:last-child{
                border: none;
            }
        }
    }
}