.img-1{
    background-image: url(../../public/image/Screenshot_1_1.jpg);
}
.img-2{
    background-image: url(../../public/image/Screenshot_2_2.jpg);
}
.img-3{
    background-image: url(../../public/image/Screenshot_3.jpg);
}
.bg-color-1{
    background-color: #5052b5;
}

.bg-color-2{
    background-color: #4c4eac;
}

.bg-color-3{
    background-color: #484aa3;
}
.picture{
    background-size: cover;
    background-position: center;
    width: 600px;
    height: 400px;
    transition: all 0.1s ease;
    &:hover{
        transform: scale(1.05);
        transition: all 0.3s ease;
        box-shadow: 0px 0px 20px black;
    }
}
.gallery-content{
    @include flex-view(row, flex-start, flex-start);
}
.description{
    @include flex-view(column, flex-start, flex-start);
    padding: 40px 10px 40px 60px;
    width: 100%;
    height: 400px;
    .content-headline{
        font-size: 30px;
    }
    .content-text{
        flex-wrap: wrap;
        font-size: 18px;
        line-height: 30px;
    }
}