@media (max-width: 768px) {
    .navigation{
        padding: 30px;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 0;
        .menu{
            @include flex-view(row, center, flex-end);
            .menu-item{
                padding: 0px 10px 0px 10px;
                font-size: 10px;
                letter-spacing: 1px;
                position: relative;
                &::after{
                content:'';
                position: absolute;
                left: 8px;
                top: calc(100% + 23px);
                width: 80%;
                height: 2px;
                background-image: none;
                background-color: violet;
                }
            }
        }
    }
    .head-content{
        margin-left: 0;
        .content-page{
            .content-headline{
                font-size: 30px;
            }
            .content-text{
                font-size: 20px;
            }
        }
    }
    .picture{
        width: 100%;
        background-size: cover;
        background-position: center;
        &:hover{
            transform: none;
            transition: none;
            box-shadow: none;
        }
    }
    .description{
        height: 350px;
    }
    .gallery-content{
        @include flex-view(column, flex-start, flex-start);
    }
    .advantage-information{
        .advantage-information-table{
            padding-left: 50px;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: flex-start;
            .information-table{
                position: relative;
                width: 93%;
            }
        }
    }
    .feedback{
        .feedback-main-part{
            @include flex-view(column, flex-start, flex-start);
            .feedback-contacts{
                border-left: none;
                border-top: 1px solid $hidden-text-color;
                width: 100%;
                margin-top: 0; 
                padding-left: 0px;
            }
            .feedback-auth{
                width: 100%;
                & .input:last-child{
                    width: 90%;
                }
                .input-field{
                    width: 80%;
                    }
                }
                .input-field-last{
                    width: 100%;
                }
            
        }
        .feedback-contacts-list{;
            .content-headline{
                font-size: 18px;
            }
            .content-text{
                font-size: 14px;
            }
        }
        .social-icons{
            margin-bottom: 0px; 
        }
    }

}

@media (max-width: 480px) { 
    .head-content{
        .content-page{
            padding-right: 30px;
            .content-headline{
                font-size: 30px;
            }
            .content-text{
                font-size: 15px;
                line-height: 30px;
            }
        }
    }
    .navigation{
        display: none;
    }
    .content-button{
        text-align: center;
        margin: 40px auto;
        font-size: 10px;
        width: 70%;
    }
    .gallery-content{
        .description{
            padding: 30px;
        }
    }
    .content-button{
        margin-left: 50px;
        margin-bottom: 80px;
    }


    .advantage-information{
        padding: 50px;
        .content-button{
            margin-left: 50px;
            margin-bottom: 0px;
        }
        .information{
            padding: 0;
        }
        .advantage-information-table{
            margin-top: 30px;
            padding-left: 0;
            .information-table{
                padding: 40px 40px;
                width: 100%;
                .content-headline{
                    font-size: 20px;
                }
                .content-text{
                    font-size: 16px;
                    line-height: 20px;
                }
                &:first-child::before{
                    position: static;
                    content: url(../../public/icons/more.png);
                }
                &:nth-child(2)::before{
                    position: static;
                    content: url(../../public/icons/locked-padlock.png);
                }
                &:nth-child(3)::before{
                    position: static;
                    content: url(../../public/icons/gear-configuration-interface-symbol.png);
                }
                &:nth-child(4)::before{
                    position: static;
                    content: url(../../public/icons/desktop-monitor.png);
                }
                &:nth-child(5)::before{
                    position: static;;
                    content: url(../../public/icons/link-symbol.png);
                }
                &:last-child::before{
                    position: static;
                    content: url(../../public/icons/diamond.png);
                }
            }
        }
    }
    .feedback{
        .feedback-main-part{
            .feedback-auth{
                flex-direction: column;
                & .input:last-child{
                    width: 100%;
                }
                .input{
                    width: 100%;  
                    }
                .input-field{
                    width: 100%;
                    }
                }
                .input-field-last{
                    width: 100%;
                }
            
        }
    }
    .futter{
        height: 30%;
        .futter-menu{
            flex-direction: column;
            .futter-menu-item{
                font-size: 13px;
                &:last-child{
                    border-right: 1px solid $futter-text-color;
                }
            }
        }
    }
}