.navigation{
    z-index: 99999;
    background-color: $background-color;
    color: $text-headline-color;
    position: fixed;
    left: 0;
    top: 0;
    width: 300px;
    height: 100%;
    @include flex-view(row, center, center);
    .menu{
        @include list-view();
        width: 80%;
        text-align: right;
        .menu-item{
            border-bottom: none; 
            padding-bottom: 20px;
            letter-spacing: 2px; 
            padding-top: 40px;
            color: $hidden-text-color;
            font-size: 13px;
            font-weight: bold;
            position: relative;
            transition: all 0.2s ease;
            a{
                color:  $hidden-text-color !important;
                text-decoration: none;
                transition: all 0.2s ease;
            }
            a:hover {
                color: white !important;
                text-decoration: none;
                transition: all 0.2s ease;
            }
            &:hover{
                text-decoration: none;
                color: $text-color;
                transition: all 0.2s ease;
                cursor: pointer;
            }
            &::after{
                content:'';
                position: absolute;
                left: 0px;
                bottom: 0px;
                width: 100%;
                height: 1px;
                background-image:  linear-gradient(to top left, violet, purple);
            }
        }
    }
}