.about{
    background-color: #333955;
    padding: 60px;
    .about-text{
        .gallery-line-topic{
            font-size: 25px;
            letter-spacing: 2px;
            border-bottom: 2px solid $text-color;
            margin-bottom: 20.750px; 
        }
        .gallery-line-description{
            font-size: 15px;
            font-weight: lighter ;
            letter-spacing: 1px;
            line-height: 18px;
        }
        .access-button{
            width: 200px;
            margin-top: 30px; 
        }
    }
}