* {
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: Arial;
}
.bg-img{
    background-image: url(../../public/img/alessandro-erbetta-765497-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(../../public/img/pic07.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.5;
        z-index: 10;
    }
}
.gallery-line-topic{
    z-index: 9999;
    color: $text-color;
    border-bottom: 1px solid $text-color;
    padding-bottom: 15px; 
    margin-bottom: 0; 
}
.gallery-line-description{
    z-index: 9999;
    color: $text-color;
    margin-top: 10px;
}
