@media (max-width: 768px){
    .header{
        .content{
            .content-description{
                width: 100%;
            }
        }
    }
    .gallery{
        .img-1{
            &::before{
                width: 50%;
            }
        }
        .img-2{
            &::before{
                width: 50%;
            }
        }
        .img-3{
            &::before{
                width: 50%;
            }
        }
        .img-4{
            &::before{
                width: 50%;
            }
        }
        .img-5{
            &::before{
                width: 50%;
            }
        }
        .img-6{
            &::before{
                width: 50%;
            }
        }
        .gallery-line{
            .gallery-line-block-1{
                width: 50%;
            }   
            .gallery-line-block-2{
                width: 50%;
            }
            .gallery-line-topic{
                width: none;
            }
        }
    }
    .feedback{
        @include flex-view(column, flex-start, flex-start);
        .feedback-auth{
            width: 100%;
        }
        .feedback-auth-contacts{
            width: 100%;
            .contact-list{
                .contact-list-item{
                    .fas{
                        left: 60px;
                    }
                }
            }
        }
    }
}
@media (max-width: 368px){
    .header{
        .logo-line{
            display: none;
        }
        .content{
            padding: 20px;
            .content-topic{
                .content-topic-text{
                    font-size: 25px;
                }
            }
            .content-description{
                width: 100%;
                .content-description-text{
                    width: 100%;
                }
            }
        }
    }
    .gallery{
        .img-1{
            &::before{
                width: 100%;
                height: 50%;
            }
        }
        .img-2{
            &::before{
                width: 100%;
                height: 50%;
                top: 50%;
            }
        }
        .img-3{
            &::before{
                width: 100%;
                height: 50%;
            }
        }
        .img-4{
            &::before{
                width: 100%;
                height: 50%;
                top: 50%;
            }
        }
        .img-5{
            &::before{
                width: 100%;
                height: 50%;
            }
        }
        .img-6{
            &::before{
                width: 100%;
                height: 50%;
                top: 50%;
            }
        }
        .gallery-line{
            @include flex-view(column, flex-start, flex-start);
            .gallery-line-block-1{
                width: 100%;
            }   
            .gallery-line-block-2{
                width: 100%;
            }
            .gallery-line-topic{
                width: none;
            }
        }
    }
    .about{
        padding: 20px;
        .about-text{
            .gallery-line-description{
                font-size: 12px;
            }
        }
    }
    .feedback{
        @include flex-view(column, flex-start, flex-start);
        .feedback-auth{
            padding: 20px;
            width: 100%;
            .feedback-auth-fields{
                .nameANDemail{
                    @include flex-view(column, space-between, flex-start);
                    .input{
                        width: 100%;
                    }
                }
            }
            .feedback-auth-buttons{
                @include flex-view(row, space-between, flex-start);
                .feedback-button-1{
                    padding: 11px 5px;
                }
                .feedback-button-2{
                    margin-left: 0;
                }
            }
        }
        .feedback-auth-contacts{
            width: 100%;
            .contact-list{
                .contact-list-item{
                    padding: 20px 60px;
                    .fas{
                        left: 10px;
                    }
                }
            }
        }
    }
    .futter{
        .futter-info{
            @include flex-view(column, flex-start, flex-start);
            .futter-info-item{
                &::after{
                content: none;
                }
            }
        }
    }
}